# SPDX-FileCopyrightText: 2026 Accemic Technologies GmbH
# SPDX-License-Identifier: CERN-OHL-S-2.0 OR LicenseRef-Accemic-Commercial
#
# abc-flow project configuration for C-Trace.
#
# Pins the Vivado version used for simulation and implementation. Update
# these together when the project moves to a new tool version.
#
# TODO: set to the agreed Vivado version before the first real build.

vivado_sim=2022.1
vivado_impl=2022.1
