# SPDX-FileCopyrightText: 2026 Accemic Technologies GmbH
# SPDX-License-Identifier: CERN-OHL-S-2.0 OR LicenseRef-Accemic-Commercial

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{sv,svh,v,vh}]
indent_size = 2

[*.rdl]
indent_size = 2

[Makefile]
indent_style = tab

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
